@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="HomeController">
    <div class="jumbotron">
        <h2>{{ greeting }}</h2>
        <label for="search"></label><input id="search" type="text" value="" placeholder="search" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="row">3d goodness</div>
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/mf-home-controller.js"></script>