
@color1: #B3EDFF;
@color2: #B3C7FF;
@color3: #C4B3FF;
@color4: #EBB3FF;

body {
    background-color: white;

    .container {

        #search {
            width: 516px;
        }

        #resultspanel {
            /*http://www.colorschemer.com/online.html*/
            /*background-color: @color1;*/
            border: solid 2px @color2;
            /* http://www.onextrapixel.com/2010/09/24/50-pattern-sets-to-spice-up-your-websites-background/*/
            background-image: url('images/cloud-bg.jpg');

            .node-container {
                cursor: pointer;

                .node {
                    stroke: #292929;
                    stroke-width: .8px;
                }

                text {
                    /*stroke: #fff;
                stroke-width: 1.5px;*/
                    fill: white;
                    font-size: 7pt;
                }
            }
            .amazon {

            }

            .link {
                fill: none;
                stroke: #bbb;
            }
        }
    }
}
